
<ion-view view-title="Wortex Bluetooth LE scanner" name="dash" >

  <ion-content padding="false"  class="has-header">
    <div ng-show="showResults" class="item"> Scanning... </i></div>
    <ion-list id="device-list" class="top-container">
          <ion-item ng-repeat="value in currentDevices " class="row">
            <div id="device-param" class="col col-50">
              <h2>{{ value.name }}</h2>
              <!--<p>UUID: {{ value.address }}</p>-->
              <p ng-show="showResults">RSSI: {{ value.rssi }}</p>
				      <div ng-show="showResults" class="loader" style="width: {{ value.rssi + 110 }}%;">
                  <p class="percent">{{ value.rssi + 110 }}%</p>
				      </div>
            </div>
            <ble-graph current-rssi={{value.rssi}} class="col col-50"></ble-graph>


          </ion-item>
    </ion-list>

  </ion-content>
  <div class="button-bar">
    <button id="scan-start" on-tap="runScan()" class="button button-large round button-positive">Start</button>
    <button id="scan-stop" on-tap="runStopScan()" class="button button-large round button-assertive" >Stop</button>
  </div>
</ion-view>


