<ion-view view-title="Dashboard">
  <ion-content padding="false" scroll="false" class="has-header">

      <ion-list id="devaise-list">
        <ion-item ng-repeat="devaise in data">
          <h2>{{ devaise.Name }}</h2>
          <p>UUID: {{ devaise.UUID }}</p>
          <p>RSSI: {{ devaise.RSSI }}</p>
				<div class="loader" style="width: {{devaise.RSSI}}%;">
					<p class="percent">{{devaise.RSSI}}%</p>
				</div>
        </ion-item>
      </ion-list>
      <div class="button-bar">
          <button id="scan-start" on-tap="scanStart()" class="button button-large round button-balanced">Start</button>
          <button id="scan-stop" on-tap="scanStop()" class="button button-large round button-assertive" >Stop</button>
      </div>
  </ion-content>
</ion-view>
