/* Empty. Add your own CSS if you like */
.loader{
	background: #f20d49 !important;
	border-radius:100px;
	height:20px;
}

.loader p{
		text-align:center;
		color:white !important;
		text-align:center;
	}

.top-container {
  height: calc(100% - 96px);
  overflow: scroll;
}

.button-bar {
  position: fixed;
  bottom: -3px;
}
